td {
  width: 50%;
}

.jumbotron {
  margin-bottom: 0px;
  text-align: center;
  background-color: white;
}

img {
  display: block;
  margin: auto;
}

h2 {
  text-align: center;
}

h3, h4 {
  color: white;
  background-color: #337ab7;
  padding: 10px;
}
body {
  font-family: Georgia;
}
